{extend name='layouts/defalut'/}


{block name="content"}
<div class="auth-panel">

    <div class="auth-panel-title">授权绑定</div>
    <div class="auth-detail">
        即将授权绑定《CAPI Hub》平台并链接您的Bituni信息
    </div>
    <div class="auth-submit-area">
        <a href="#" class="auth-submit-btn" id="auth-submit">同意授权</a>
    </div>

</div>
{/block}
        
{block name="js"}
<script src="JS/pages/index/auth-3b18efe1ff.js"></script>
{/block}
        
        
{block name="style"}
<link href="CSS/pages/index/auth-f22b194083.css" rel="stylesheet" type="text/css" />
{/block}
        