{extend name='layouts/defalut_index'/}

{block name="header"}
{include file='components/index_header_menu/header_black' /}
{/block}

{block name='content'}
<div class="index-page-wrap">
    <section class="index-intro">
        <h1 class="index-intro-title">Bituni-Crypto聚合支付协议</h1>
        <p class="index-intro-content">
            为开发者提供稳定安全的Crypto聚合支付服务，<br /> 通过BitUni收取、管理、分配、兑换Crypto数字资产
        </p>
        <div class="index-intro-link">
            <a href="" class="index-intro-link-item">
                <img src="IMAGE/index/tuite.svg" alt="Twitter" class="index-intro-link-img" />
            </a>
            <a href="" class="index-intro-link-item">
                <img src="IMAGE/index/facebook.svg" alt="Facebook" class="index-intro-link-img" />
            </a>
        </div>
    </section>
</div>
{/block}
        
{block name="js"}
<script src="JS/pages/index/index-3b18efe1ff.js"></script>
{/block}
        
        
{block name="style"}
<link href="CSS/pages/index/index-996ee27ef8.css" rel="stylesheet" type="text/css" />
{/block}
        