@import "../../var";

body {
  background: #f7f8fa;
}

.auth-panel {
  @include panel-block;
}

.auth-panel-title {
  @include panel-title;
}

.auth-detail {
  margin-top: 43px;
  font-size: 16px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #000000;
  text-align: center;
}

.auth-submit-area {
  margin-top: 54px;
  margin-bottom: 38px;
}
.auth-submit-btn {
  @include panel-button;
}
