@import "../../var";
body {
  background: #f7f8fa;
}

.exchange-panel {
  @include panel-block;
}

.exchange-panel-title {
  @include panel-title;
}
.exchange-form {
  margin-top: 48px;
}

.exchange-form-label {
  display: flex;
  align-items: center;
  height: 74px;
  background: #f7f8fa;
  border-radius: 37px;
}

.exchange-form-input {
  margin-left: 36px;
  height: 80%;
  width: 460px;
  margin-right: 20px;

  font-size: 22px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  line-height: 30px;
  outline: none;
  background: none;
  border: none;
  color: #07121c;
  &::placeholder {
    color: #828c99;
  }
}

.exchange-coin {
  font-size: 22px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #308eff;
}

.exchange-form-icon {
  margin: 6px auto;
  text-align: center;
}
.exchange-icon-img {
  cursor: pointer;
}

.exchange-rate {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.exchange-rate-icon {
  margin-right: 6px;
}
.exchange-tips {
  margin-top: 16px;
  text-align: center;
  font-size: 16px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #000000;
}
.exchange-submit-area {
  margin-top: 54px;
}
.exchange-submit-btn {
  @include panel-button;
}

.exchange-language {
  margin-top: 78px;
  font-size: 16px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #000000;
  line-height: 22px;
  text-align: center;
}
