<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="关键字" />
    <meta name="description" content="描述" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bituni</title>
    <script type="text/javascript" src="https://stacdn.proginn.com/js/jquery.min.js"></script>
    <script src="DIST/plugins/layer/layer.js"></script>
    <link href="CSS/common/base.css" rel="stylesheet" type="text/css" />

    {block name="style"}
    {/block}
</head>

<body>

    <!-- 头部:header -->
    <header class="header">
        {block name="header"}
        {include file='components/index_header_menu/header_white' type="white" /}
        {/block}
    </header>


    <!-- 内容区:content -->
    <section class="main">
        {block name="content"}

        {/block}
    </section>

    <!-- 底部:footer -->
    <footer class="footer">
        {block name="footer"}

        {/block}
    </footer>
    <script src="JS/base.js"></script>
    <script src="JS/base_components.js"></script>
    <!-- 弹层区：modal -->

    {block name="js"}
    {/block}
</body>

</html>