<div class="account-link modal-wrap" id='account-link-modal'>
    <div class="modal-title">账户</div>
    <div class="account-link-box">
        <div class="account-link-state">
            <p class="account-link-tips">已与 MetaMask 链接</p>
            <a href="" class="account-link-btn">断开</a>
        </div>
        <p class="account-link-address">0xF289…B9a2</p>
        <div class="account-link-copy">
            <img src="IMAGE/index/copy.svg" class="account-link-copy-icon" />
            <div class="account-link-btn" id="copy" data-clipboard-text="0xF289…B9a2">复制</div>
        </div>
    </div>
</div>

<script src="DIST/plugins/clopboard.js"></script>