.wallet-link-area{
    width: 596px;
    display: none;
}
.wallet-link-input-box{
    margin: 48px auto 93px;
    width: 506px;
    height: 74px;
    background: #F7F8FA;
    border-radius: 37px;
    border: 1px solid #308EFF;
    display: flex;
    align-items: center;
    position: relative;
    .wallet-coin-icon{
        position: absolute;
        right: 41px;
        top: 16px;
        width: 43px;
        height: 39px;
    }
    // justify-content: center;
}
.wallet-link-input{
    display: block;
    height: 90%;
    width: 70%;
    margin-left: 36px;
    margin-right: 50px;
    font-size: 22px;
    font-weight: 400;
    color: #000000;
    background: rgba($color: #000000, $alpha: 0);
    border: none;
    outline: none;
    // wid
}