<div class="index-header-placeholder "></div>
<nav class="index-header-menu-container header_white">
    <div class="index-header">
        <div class="index-logo">
            <img src="IMAGE/index/logo_black.svg" alt="Bituni" class="index-logo-img" />
        </div>
        <div class="index-header-nav header-tabs-nav">

        </div>
        <div class="index-header-menu">
            <div class="wallet-link" id="wallet-link">asdfasdfasdfsfd</div>
            {include file="components/index_header_menu/header_dropdown"}
        </div>

        <div class="header-tabs">
            <div class="header-tabs-item header-tabs-item--active">兑换</div>
            <div class="header-tabs-item">提取</div>
        </div>
    </div>
</nav>

{include file="components/index_header_menu/header_base"}