<div class="index-more" id="header-more-dropdown">
    <div class="index-more-content">更多</div>
    <div class="header-dropdown">
        <div class="header-dropdown-wrap">
            <a href="#" class="header-dropdown-item">
                <span>关于</span>
                <img src="IMAGE/menu/about.svg" class="dropdown-item-icon" />
            </a>
            <a href="#" class="header-dropdown-item">
                <span>帮助</span>
                <img src="IMAGE/menu/help.svg" class="dropdown-item-icon" />
            </a>
            <a href="#" class="header-dropdown-item">
                <span>语言</span>
                <img src="IMAGE/menu/language.svg" class="dropdown-item-icon" />
            </a>
            <a href="#" class="header-dropdown-item">
                <span>法律与隐私</span>
                <img src="IMAGE/menu/siyin.svg" class="dropdown-item-icon" />
            </a>
        </div>
    </div>
</div>