@mixin panel-block {
  margin: 160px auto 0;
  width: 702px;
  background: #ffffff;
  border-radius: 22px;
  box-sizing: border-box;
  padding: 40px 45px 50px;
}

@mixin panel-title {
  font-size: 22px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #07121c;
  line-height: 30px;
  text-align: center;
}
@mixin panel-button {
  display: block;
  height: 72px;
  line-height: 72px;
  text-align: center;
  background: #308eff;
  border-radius: 36px;

  font-size: 22px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}
